{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="card-panel">
            <h1>Welcome
                {% if user.is_authenticated %}
                <strong>{{ user.username | title }}!</strong>
                {% else %}
                <strong>Everyone!</strong>
                {% endif %}
            </h1>
        </div>
        <div class="row">
            {% for category in categories %}
    
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">{{ category.category_name|title }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'post:series' category.category_slug %}" class="waves-effect waves-light btn">
                            Read More
                        </a>
                    </div>
                </div>
    
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}